body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

/* reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

/* commom */

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* header*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.navigation-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link.current-link {
  position: relative;
  color: #404bbf;
}

.navigation-link.current-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.contact-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contact-link {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus,
.navigation-link:hover,
.navigation-link:focus,
.navigation-link.studio-link {
  color: #404bbf;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

/* main */

/* frst-section */

.frst-section {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-title {
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.main-title-button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-title-button:hover,
.main-title-button:focus {
  background-color: #404bbf;
}

/* second */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.scnd-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advant-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.advant-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
}

.advant-item-icon {
  position: relative;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advant-item {
  width: calc((100%-72) / 4);
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* thrd-section */

.thrd-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.title {
  margin: 0 auto;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.title-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.title-item {
  width: ((100%-72)/4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-container {
  padding: 32px 0;
}

.team-subtitle {
  margin-bottom: 8px;
  text-align: center;
}

.title-item .subtitle,
.title-item .text {
  text-align: center;
}

.title-item .text {
  margin-bottom: 8px;
}

.title-list .title-item {
  background-color: #fff;
}

.team-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.team-icon-item {
}
.team-socnet-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socnet-link:hover,
.team-socnet-link:focus {
  background-color: #404bbf;
}
.team-socnet-link-icon {
  fill: #f4f4fd;
}

/* qrtr-section */

.qrtr-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.thumb-text-overlay {
  position: absolute;
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4d5ae5;
  font: 400 16px / 150% 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .thumb-text-overlay {
  transform: translateY(0);
}

/* footer */

.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer .logo-part {
  color: #f4f4fd;
}

.page-footer .text {
  color: #f4f4fd;
  max-width: 264px;
}

.footer-conteiner {
  display: flex;
  align-items: baseline;
}

.logo-footer-wrap {
  margin-right: 120px;
}

.social-media-wrap {
}

.social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.social-media-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.social-media-item {
  width: 40px;
  height: 40px;
}
.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}

.social-media-link-icon {
  fill: #f4f4fd;
}
